<div class="my-navbar">
  <div class="logo">
    <i class="fas fa-glass-martini"></i>
    <p>Cock'tail</p>
  </div>
  <div class="navbar-ipt-btn">
    <input type="text" name="search-bar" placeholder = "search.." class = "search-bar">
    <div class="fa-wrapper"><i class="fa fa-search"></i></div>
  </div>
</div>

<div class="banner" img" style = "background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('https://www.recettes.net/documents/upload/original/c/o/cocktail-fruitrouge-82070413-s.jpg')";>>
  <div class="banner-content">
    <h1 class = "title">Explosive cocktails</h1>
    <p class = "second-title">Create and save your own favorite cocktails</p>
    <%= link_to "Add a cocktail", new_cocktail_path, class: "button-add-homepage" %>
  </div>
</div>

<div class="container-elements">
  <div class="card-container">
    <div class="row">
      <% @cocktails[0...3].each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="card-name">
                <h4><%= cocktail.name %></h4>
              </div>
            </div>
            <div class="card-footer">
              <i class="far fa-eye"></i>
              <%= link_to "See receipe..", cocktail_path(cocktail, class: "link") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
