<div class="container-elements">
  <div class="card-container">
    <div class="row">
      <% @cocktails[0...3].each do |cocktail| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-body">
              <div class="card-name">
                <h4><%= cocktail.name %></h4>
              </div>
            </div>
            <div class="card-footer">
              <i class="far fa-eye"></i>
              <%= link_to "See receipe..", cocktail_path(cocktail, class: "link") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
