.button-add-homepage {
  width: 50px;
  padding: 7px 9px;
  border-radius: 5px;
  color: #ea4c4c;
  border: 1px solid #ea4c4c;
  background-color: white;
  font-weight: light;
  text-decoration: none;
}

.button-add-homepage:hover {
  background-color: #ea4c4c;
  color: white;
  text-decoration: none;
}

.button-add {
  width: 200px;
  padding: 7px 9px;
  border-radius: 5px;
  color: white;
  background-color: #ea4c4c;
  font-weight: light;
  text-decoration: none;
}

.button-add:hover {
  background-color: white;
  color: #ea4c4c;
  border: 1px solid #ea4c4c;
  text-decoration: none;
}


